

form.searchbar input[type=text] {
    margin-bottom: auto;
    margin-top: auto;
    height: 50px;
    width: 600px;
    color: white;
    background-color: #213651;
    border-radius: 30px;
    border-color: transparent;
    padding: 20px;
    outline: none;
}

form.searchbar button {
    margin-left: -45px;
    height: 40px;
    width: 40px;
    color: white;
    background-color: #d15e0e;
    border-radius: 50%;
    border-color: transparent;
    outline: none;

}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
    border: 0px;
    -webkit-text-fill-color: #ffffff;
    -webkit-box-shadow: 0 0 0px 1000px #213651 inset;
}