table {
    width: 90%;
    margin: auto;
}

th {
    width: 25%;
    padding-bottom: 10px;
    text-align: left;
    font-size: 17px;
    font-weight: bold;
    color: rgb(180, 180, 180);
}
td {
    width: 25%;
    text-align: left;
    font-size: 15px;
    color: rgb(46, 46, 46);
}

p.brewery-name {
    padding-bottom: 20px;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color: rgb(46, 46, 46);
}

span.untappd {
    padding-right: 5%;
    float:right;
    vertical-align: middle;
    font-size: 15px;
}

hr {
    border-top: 2px solid rgb(238, 238, 238);
}