<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <!-- STANDARD LIBRARIES -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <!-- CSS STYLING -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}?v=00110">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/searchbar1.css') }}?v=125"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}?v=51">
    <!-- LEAFLET -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <!-- CHART JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.js" integrity="sha512-zO8oeHCxetPn1Hd9PdDleg5Tw1bAaP0YmNvPY8CwcRyUk7d7/+nyElmFrB6f7vg4f7Fv4sui1mcep8RIEShczg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.min.js" integrity="sha512-SuxO9djzjML6b9w9/I07IWnLnQhgyYVSpHZx0JV97kGBfTIsUYlWflyuW4ypnvhBrslz1yJ3R+S14fdCWmSmSA==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.css" integrity="sha512-C7hOmCgGzihKXzyPU/z4nv97W0d9bv4ALuuEbSf6hm93myico9qa0hv4dODThvCsqQUmKmLcJmlpRmCaApr83g==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css" integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js" integrity="sha512-hZf9Qhp3rlDJBvAKvmiG+goaaKRZA6LKUO35oK6EsM0/kjPK32Yw7URqrq3Q+Nvbbt8Usss+IekL7CRn83dYmw==" crossorigin="anonymous"></script>
    <!-- AWESOME MARKERS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='awesome_markers/leaflet.awesome-markers.css') }}">
    <script src="{{ url_for('static', filename='awesome_markers/leaflet.awesome-markers.js') }}"></script>

</head>

<body>
    <div class="orange-ribbon"></div>
    <div class="oranzna">
        <nav>
            <div class="content-width">
                <a action="/" href="/"><label class="logo">BREWSEARCH</label></a>
                <ul>
                    <li><a action="/" href="/">Search</a></li>
                    <li><a action="/about" href="/about">About</a></li>
                </ul>
            </div>
        </nav>
        <div class="content-width">
            <header>
                <h2>About the project</h2>
            </header>
        </div>
    </div>

    <div class="wraper" style="margin-top:-30px; margin-bottom:20px">
        <div class="about-text" style="margin:5%">
            <p style="color:rgb(43, 43, 43)">

                Craft breweries often follow different philosophies of brewing - while some breweries specialise in particular beer styles,
                others are trying to keep their offer as diverse as possible. </br></br>

                Brewsearch is a simple wee app that allows you to find a brewery and its' most popular beer styles. As beer styles are very broadly defined, 
                you can explore each one further by clicking on one of the chart's sections- this will allow you to see the specific substyles that each brewery is focusing on. </br></br>

                <b>Note: </b>The App uses Untappd's public API, meaning up to 50 most popular beers from each brewery can be displayed in the chart. Additionally, there is a possibility 
                that 'Numer of beers' by each brewery is not correct as some collaboration beers might not be included in the total count. </br></br>

                All data is sourced from Untappd.    
            </p>
            <h3 class="get-in-touch">Get in touch</h3>
            <p style="margin-bottom:20px">If you have any questions, comments, or are experiencing any bugs or unusual behaviour with the app, please do get in touch.</p>
            <a href="https://www.linkedin.com/in/gregor-bolti%C4%8D-9ab9b8157/" target="_blank"><span style="color:rgb(0, 114, 177)"><i class="fab fa-linkedin"></i></span> Gregor Boltic<br></a>
            <span style="color:gray"><i class="fas fa-envelope"></i></span> gregor.boltic@gmail.com
        </div>
    </div>

</body>
</html>