<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}?new1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}?new1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.js" integrity="sha512-zO8oeHCxetPn1Hd9PdDleg5Tw1bAaP0YmNvPY8CwcRyUk7d7/+nyElmFrB6f7vg4f7Fv4sui1mcep8RIEShczg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.min.js" integrity="sha512-SuxO9djzjML6b9w9/I07IWnLnQhgyYVSpHZx0JV97kGBfTIsUYlWflyuW4ypnvhBrslz1yJ3R+S14fdCWmSmSA==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.css" integrity="sha512-C7hOmCgGzihKXzyPU/z4nv97W0d9bv4ALuuEbSf6hm93myico9qa0hv4dODThvCsqQUmKmLcJmlpRmCaApr83g==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css" integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js" integrity="sha512-hZf9Qhp3rlDJBvAKvmiG+goaaKRZA6LKUO35oK6EsM0/kjPK32Yw7URqrq3Q+Nvbbt8Usss+IekL7CRn83dYmw==" crossorigin="anonymous"></script>
</head>

<body>
    
    <h1>Beer Search App</h1>

    <form id="submit-form" action="/" method="post">
        <div>
            <input type="text" name="brewery_entry" placeholder="Enter brewery name">
            <button type="submit">Submit</button>
        </div>
    </form>
    <br>

    <table>
        <tr>
            <th>Brewery: </th>
            <td>{{ name }}</td>
        </tr>
        <tr>
            <th>Location: </th>
            <td>{{ city }}{{ country }}</td>
        </tr>
        <tr>
            <th>Untappd: </th>
            <td><a target="_blank" href={{ untappd_url }}>{{ untappd_url }}</a></td>
        </tr>
        <tr>
            <th>Number of beers: </th>
            <td>{{ beer_nr }}</td>
        </tr>
    </table>
    <br>



    <canvas id="mainChart" height="400" width="400"></canvas>   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js" integrity="sha512-hZf9Qhp3rlDJBvAKvmiG+goaaKRZA6LKUO35oK6EsM0/kjPK32Yw7URqrq3Q+Nvbbt8Usss+IekL7CRn83dYmw==" crossorigin="anonymous"></script>
    <script>
        
            // Render the whole new page after POST return. Remove top left text (brewery info)- only search bar on the start page, after post request processed- 
            // render new page with chart and brewery information.
            
            var mainChart = document.getElementById("mainChart").getContext('2d');
            
            Chart.defaults.global.defaultFontFamily = 'Helvetica';
            Chart.defaults.global.defaultFontSize = 18;

            var colorPalette = ['#e9481c','#f5751c','#d15e0e','#2d4866','#213651','#17283c','#797983']
            var beerCount = ['{{ ipa_count }}', '{{ pale_ale_count }}', '{{ sour_count }}', '{{ belgian_count }}', '{{ lager_count }}', '{{ dark_count }}', '{{ other_all }}']

            var beerChart = new Chart(mainChart, {
                type:'doughnut',
                data: {
                    labels: ['IPA', 'Pale Ale', 'Sour', 'Belgian', 'Lager', 'Stout/Porter', 'Other'],
                    datasets: [{
                        label: 'Beer style',
                        data: beerCount,
                        backgroundColor: colorPalette,
                        borderWidth: 2,
                        borderColor: 'white',
                        hoverBorderWidth: 6,
                        hoverBorderColor: 'white'
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: 'Beer styles by brewery',
                        fontSize: 26
                    },
                    animation: {
                        animateScale: true
                    }
                }
            });
      

    </script> 
</body>
</html>