{% extends "index.html" %}
{% block content %}

<div class="wraper">
    <p class="brewery-name">{{ brewery_dictionary.name }}
        <span class="untappd"><a target="_blank" href={{ brewery_dictionary.untappd_url }}>Untappd</a></span>
    </p>
    <hr>
    <table>
        <tr>
            <div class="split">
                <th>Location</th>
                <th>Numer of beers</th>
                <th>Most popular style</th>
                <th>Most popular beer</th>
            </div>
        </tr>
        <tr>
            <div class="split">
                <td>{{ brewery_dictionary.city }}{{ brewery_dictionary.country }}</td>
                <td>{{ brewery_dictionary.beer_nr }}</td>
                <td>{{ brewery_dictionary.most_popular }}</td>
                <td>{{ brewery_dictionary.most_popular_beer }}</td>
            </div>
        </tr>
    </table>
    <hr>
    <div class="split">
        <div id="legend" class="legend"></div>
        <div id="parent">  
            <canvas id="mainChart"></canvas>
            <!-- <div id="image" class="image"></div> !-->
        </div>
    </div>
        <div id="mapid" style="height: 250px; width:95%; margin:auto; border-radius:10px; margin-top:30px"></div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js" integrity="sha512-hZf9Qhp3rlDJBvAKvmiG+goaaKRZA6LKUO35oK6EsM0/kjPK32Yw7URqrq3Q+Nvbbt8Usss+IekL7CRn83dYmw==" crossorigin="anonymous"></script>
<script>
    var beer_styles_dictionary = '{{ beer_styles_dictionary|tojson }}'  
    var [latitude, longitude] = ['{{ brewery_dictionary.latitude }}', '{{ brewery_dictionary.longitude }}']
    var beer_dictionary = ['{{ beer_dictionary|tojson }}']
    var beer_image = '{{ brewery_dictionary.image }}'
</script>
<script src="{{ url_for('static', filename='js/chart-map-1.js') }}?v=111"></script>

{% endblock %}